.mainfont,td,input,select {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 85%;
	color: 222222;
}
a:hover, a:link, a:visited {
	color: 333333;
}
.grey {
	background-color:#cccccc
}
.hiddenBlock {
	display:none;
}
.alignwidth {
	width:100%;
}
.alignwidth:disabled {
	background-color:#cccccc;
}
.cursorPointer {
	cursor: pointer;
}
table.inputTable td.fixwidth {
	width:400px;
}
table.inputTable td.fixwidthhalf {
	width:200px;
}
#idTableShowMeConsole td {
	width:150px;
}
#idTableShowMeConsole {
	width:200px;
	
}
#idTableShowMeHow {
	height:200px;
}

#idPopUpDiv {
    position: fixed;
	top: 50%;
	left: 50%;

    border:2px solid #000000;
    height: 250px;
	overflow: auto;
    
    margin-left: -395px;
    margin-top: -100px;
	padding: 3px;
    
    width: 790px;
    z-index: 9999999;
	
	background-color:#eeeeee;
	text-align:center;
}
.px112 {
	 width: 112px;
}
#idVDclose {
	display:inline-block;
	border:1px solid #cccccc;
	color:#cccccc;
	background-color:#ffffff;
	height:25px; width:25px; 
	text-align:center; 
	vertical-align:middle;
	line-height:25px;
}
.inputSpecific {

}
.fulltd {
	background-color:green;
	width:20px;
	height:10px;
	margin:0px;
}
.inctd {
	background-color:lightgreen;
	width:20px;
	height:10px;
	margin:0px;
}
.totalTopLine {
	border-top: 2px solid #444444;
}
.alert {
	color: #E64040;
}
.alpha {
	background-color: #E64040;
	color: white;
	font-family:verdana;
	font-size:30px;
	padding:20px 20px 20px 20px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:10px;
	margin-top: 10px;
}
/* //http://stackoverflow.com/questions/28931791/jquery-how-to-grey-out-the-background-while-showing-the-loading-icon-over-it*/
.overlay {
    background: #eeeeee;  
    display: none;        
    opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
.monthspan {
	width:30px;
	display:inline-block;
}
.weekspan {
	width:26px;
	display:inline-block;
}
.laststeps {
	font-size:large;
}
.widthpoint {
	width:180px;
}
.widthpointvisual {
	width:130px;
}
.widthfile {
	width:150px;
}
.widthdate {
	width:150px;
}
.widthsize {
	width: 150px;
}